<!DOCTYPE html>
<html>
<head>

</head>
<body>
<form method="POST">
    {{ status }}

    <input type="text" name="vorname" placeholder="Vorname" required>
    <input type="text" name="nachname" placeholder="Nachname" required>
    <input type="text" name="email" placeholder="E-Mail" required>
    <input type="password" placeholder="Passwort" name="password" required>
    <input type="submit">
</form>
</body>
</html>